
:root{
    --black: #000000;
    --bg: #1f1f1f;
    --bg_h: #303030;
    --bg_c: #202020;
    --fg: #f8f8f2;
    --yw: #e6db74;
    --og: #fd971f;
    --rd: #f92672;
    --mg: #fd5ff0;
    --vt: #ae81ff;
    --bl: #66d9ef;
    --cy: #a1efe4;
    --gn: #a6e22e;
}

body{
    display: flex;
    flex-direction: column;
    height: 100hv;
    margin: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a
{
    font-family: 'Roboto' !important;
}

/* .navbar,.container {
    height: 100px !important;
    width: 100% !important;
} */

/* .navbar-brand, .logo {
    height: 100% !important;
    width: auto !important;
} */

.logo {
    height: auto !important;
    width: 100% !important;
    padding: 10% !important;
    /* padding: 25px !important; */
}

.logo-md{
    height: 52px !important;
    width: 52px !important;
    padding: auto !important;
    margin: 10px auto auto auto !important;

}



/* SideBar */

@media screen and (max-width: 900px) {
    /* .sidebar-lg,
    .sidebar-lg div, 
    .sidebar-lg div ul, 
    .sidebar-lg div ul li, 
    .sidebar-lg div ul li a
    {
        width: 0px !important;
        padding: 0 !important;
        margin: 0 !important;
    } */

    .sidebar-lg
    {
        /* display: none !important; */
        opacity: 0 !important;
        width: 0px !important;
    }

    .sidebar-md {
        display: block !important;
        width: 72px !important;
    }
    .content{
        margin-left: 72px;
    }
}

@media screen and (min-width: 900px) {
    .sidebar-lg {
        width: 280px !important;
    }
    .sidebar-md {
        display: none !important;
        width: 0px !important;
        opacity: 0 !important;
    }
    .content{
      margin-left: 280px
    }
}

.hide-me-for-now {
    display: none !important;
}

.sidebar-lg {
  /* width: 280px !important; */
  /* float: left; */
  position: absolute;
  height: 100%;
  width: 100%;

  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.sidebar-list{
    margin: 0 !important;
    padding: 0 10px 0 10px !important;
    width: 100%;
}

.sidebar-md {
  width: 72px !important;
  /* float: left; */
  position: absolute;
  height: 100%;

  transition-delay: 0.0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.nav-pills {
    list-style-type: none;
}

.nav-btn{
    width:100%;
    text-align: left !important;
    font-size: 16px !important;
    padding: 6px 0px !important;
}

.nav-btn i{
    margin: 0 !important;
    padding: 6px !important;
    font-size: 24px !important;
}

.nav-md-btn{
    height: 52px !important;
    width: 52px !important;
    padding: auto !important;
    margin: auto auto 10px auto !important;
    border-radius: 10px;

    vertical-align: middle !important;
}

.nav-md-btn i {
    color: var(--bg);
    margin: auto !important;
    padding: auto !important;
    font-size: 24px;
    vertical-align: middle !important;
}

.nav-md-btn {
    color: #fff;
    background-color: #66d9ef;
    border-color: #66d9ef;
    padding: auto !important;
}

.nav-md-btn:hover {
    color: #fff;
    background-color: #4ea6b7;
    border-color: #4ea6b7;
}

.text-center {
    text-align: center !important;
    width: 100%;
}

.wide {
    height: 52px !important;
    width: 100% !important;
}


.content, .container{
    width: 100% !important;
    height: 100% !important;
}

.resume {
    background-color: #525659;
}

.contact {
    background-color: #525659;
}

.contact-card{
    margin: 1em !important
}

h1 {
    margin: 1em !important;
}

.contact-info {
    width: 100%;
}

.con-pills {
    list-style-type: none;
    margin: 12px 24px;
    padding: 0px;
}