{% include "header.html" %}

<div class="content contact">
  <div class="container">
    <div class="card contact-card bg-light">
    <h1> Contact Info</h1>

    <!-- <ul>
      <li><a class="btn btn-light" href="mailto: jgarza9788@gmail.com">   <i class="mdi mdi-email" > jgarza9788@gmail.com </i></a></li>
      <li><a class="btn btn-light" href="tel:+: 18182510647">             <i class="mdi mdi-phone" > 1 (818) 251-0647 </i></a></li>
      <li><a class="btn btn-light" href="https://github.com/jgarza9788">  <i class="mdi mdi-github"> JGarza9788 </i></a></li>
    </ul> -->
    
    <ul class="con-pills">
      <li>
        <a class="nav-btn btn btn-light text-dark " href="mailto: jgarza9788@gmail.com">    <i class="mdi mdi mdi-email"> jgarza9788@gmail.com</i></a>
      </li>
      <li>
        <a class="nav-btn btn btn-light text-dark " href="tel:+: 18182510647">             <i class="mdi mdi-phone" > 1 (818) 251-0647 </i></a>
      </li>
      <li>
        <a class="nav-btn btn btn-light text-dark " href="https://github.com/jgarza9788">  <i class="mdi mdi-github"> JGarza9788 </i></a>
      </li>

    </ul>
    
    <!-- <div class="contact-info"><a class="contact-info btn btn-light" href="mailto: jgarza9788@gmail.com">   <i class="mdi mdi-email" > jgarza9788@gmail.com </i></a></div>
    <div class="contact-info"><a class="contact-info btn btn-light" href="tel:+: 18182510647">             <i class="mdi mdi-phone" > 1 (818) 251-0647 </i></a></div>
    <div class="contact-info"><a class="contact-info btn btn-light" href="https://github.com/jgarza9788">  <i class="mdi mdi-github"> JGarza9788 </i></a></div> -->

    </div>
</div>
</div>



{% include "footer.html" %}