<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />

  <!-- BootStrap -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script> -->

  <!-- Material Design Lite -->
  <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css" /> -->
  <!-- <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- mdi icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>

  <link href="../static/css/style_copy2.css" rel="stylesheet" />

  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
      // var instance = M.Sidenav.getInstance(elem);
    });
  </script>
</head>
<body>

<!-- <div id="canvas_container"></div> -->


<main class="main-grid-container">


  <div class="nav-grid main-grid-item ">


    <!--
    <div class="nav-btn nav-item waves-effect btn blue-grey">
      <span class="mdi mdi-account-circle"></span>
      <span>Home</span>
    </div>

    <div class="nav-btn nav-item waves-effect btn blue-grey">
      <span class="mdi mdi-file-document"></span>
      <span>Resume</span>
    </div>

    <div class="nav-btn nav-item waves-effect btn blue-grey">
      <span class="mdi mdi-folder"></span>
      <span>Portfolio</span>
    </div>

    <div class="nav-btn nav-item waves-effect btn blue-grey">
      <span class="mdi mdi-email"></span>
      <span>Contact</span>
    </div>

    <div class="nav-spacer"></div>

    <div class="nav-btn nav-item waves-effect btn blue-grey">
      <span class="mdi mdi-email"></span>
      <span>Contact</span>
    </div> 
    -->

    <nav> <!-- navbar content here  --> </nav>

    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <!-- <img src="images/office.jpg"> -->
        </div>
        <!-- <a href="#user"><img class="circle" src="images/yuna.jpg"></a> -->
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div></li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          


  </div>


  <div class="main-grid-item text-light bg-darkx">
    <div class="x1rem">
      1rem
    </div>
    <div class="x25rem">
      2.5rem
    </div>
    <div class="x5rem">
      5rem
    </div>
    <div class="x10rem">
      10rem
    </div>

    <!-- <div class="collection">
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item active">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
    </div> -->

  </div>
</main>


</body>
</html>