<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />

  <!-- BootStrap -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script> -->

  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <!-- mdi icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">


  <link href="../static/css/style_copy.css" rel="stylesheet" />
</head>
<body>

<main class="main-grid-container bg-darkx">
  <div class="sidebar-grid sbt main-grid-item bg-darkx text-light">
      <div class="sidebar-item hw">Justin Garza</div>
      <div class="sidebar-item hw">JG</div>
      <!-- <div class="btn btn-primary sidebar-item">
        <i class="mdi mdi-circle"> </i>
        <div class="label">
          <span>Label</span>
        </div>
      </div> -->
      <!-- <div class="btn btn-primary sidebar-item">
        <i class="mdi mdi-circle"> </i>
        <span>Label</span>
      </div> -->
      <!-- <div class="btn btn-primary shadow-lg sidebar-item mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        <span class="mdi mdi-file-document"></span>
        <span class="mdi"></span>
        <span>Resume</span>
      </div> -->
      <!-- <div class="btn btn-primary sidebar-item">
        <span class="mdi mdi-folder"></span>
        <span class="mdi"></span>
        <span>Portfolio</span>
      </div> -->
      <!-- <div class="btn btn-primary sidebar-item">
        <span class="mdi mdi-email"></span>
        <span class="mdi"></span>
        <span>Contact</span>
      </div> -->

      <div class="sidebar-btn sidebar-item mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        <span class="mdi mdi-file-document"></span>
        <span class="mdi"></span>
        <span>Resume</span>
      </div>
      <div class="sidebar-btn sidebar-item mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        <span class="mdi mdi-folder"></span>
        <span class="mdi"></span>
        <span>Portfolio</span>
      </div>
      <div class="sidebar-btn sidebar-item mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        <span class="mdi mdi-email"></span>
        <span class="mdi"></span>
        <span>Contact</span>
      </div>

  </div>

  <div class="sidebar-grid sbb main-grid-item bg-darkx text-light">
    <div class="sidebar-item hw">hello world</div>
    <!-- <div class="btn btn-primary sidebar-item"></div> -->
    <!-- <div class="btn btn-primary sidebar-item"></div> -->
    <!-- <div class="btn btn-primary sidebar-item"></div> -->
    <!-- <div class="spacer"></div> -->
  </div>

  <div class="main-grid-item text-light bg-darkx">
    world
  </div>
</main>

</body>
</html>