<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>

    <title>Cafés</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- mdi icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">

    <!-- <link href="static/css/style.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
