{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    {#
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
    #}
  </div>
</header>

<!-- Main Content -->
<div class="container">


  <div class="card bgh z-depth-3">
    <div class="card-content white-text">
      <span class="card-title">Title</span>
      <li>VP, Software Engineer II,  Bank of America</li>
    </div>
  </div>

  <div class="card bgh z-depth-3">
    <div class="card-content white-text">
      <span class="card-title"> <i class="mdi mdi-format-list-bulleted"></i> Summary:</span>
      <ul>
        <li> 6 Years of experience in Python Development and Data Analysis, System Design, Testing, Bug Fixes, Enhancement, Support, and Integration of APIs to generate reports and automate tasks.</li>
        <li> Experience working with command line utilities/environments. </li>
        <li> Experience with Unit Testing / Test Driven Development (TDD), Load Testing and Integration Testing.</li>
        <li> Experience building frameworks and automating complex workflows using Python for Test Automation</li>
        <li> Experience working with data from HDFS, Hive, Postgres, MongoDB, Oracle and SQL servers.</li>
        <li> Experience with SQL Server Management Studio, Teradata SQL Assistant, and Toad.</li>
        <li> Experienced in version control systems using Git, GitHub, GitLab, GitKraken, SourceTree and Bitbucket.</li>
        <li> Experience working deployment tools using Jenkins and vercel.</li>
        <li> Experience working with issue tracking tools like Jira and SonarQube.</li>
        <li> Ability to handle multiple tasks, Initiative and Adaptable. Self-motivated, organized team player with strong problem solving and analytical skills and total commitment to the organization goals. </li>
        <li> Developed REST API's using serverless framework, AWS Lambda, API Gateway</li>
        <li> Experienced with full software development life cycle (SDLC), object-oriented programming (OOPS), and database design.</li>
        <li> Hands on experience using Python 2.x and 3.x version.</li>
        <li> Experienced in developing web-based applications using Python, Django, Streamlit, JSON, XML, CSS3, HTML5, JavaScript and jQuery.</li>
        <li> Experience working with Python charts and graph libraries like Matplotlib, Seaborn, Altair.</li>
        <li> Experience working with Python APIs, RESTful Web Service, and web-automation libraries like Selenium, requests, and beautifulsoap4.</li>
        <li> Experience working with Python data-analytics libraries like Pandas, NumPy, and OpenPyXl.</li>
        <li> Experience working with Python machine-learning libraries like Pytorch, SciKit, and Pickle.</li>
      </ul>
    </div>
  </div>

  <div class="card bgh z-depth-3">
    <div class="card-content white-text">
      <span class="card-title"> <i class="mdi mdi-school"></i> Education:</span>
      <ul>
        <li> Bachelors in Computer Information Systems DeVry University (2014)</li>
      </ul>
    </div>
  </div>

  <div class="card bgh z-depth-3">
    <div class="card-content white-text">
      <span class="card-title"> <i class="mdi mdi-certificate"></i> Certifications:</span>
      <ul>
        <li> <a class="mdi mdi-language-python" href="https://www.linkedin.com/in/justin-garza-9a684a44/"> Python (top 5%)  - LinkedIn.com</a></li>
        <li> <a class="mdi mdi-microsoft-excel" href="https://www.linkedin.com/in/justin-garza-9a684a44/"> Excel (top 5%)  - LinkedIn.com</a></li>
        <li> <a class="mdi mdi-language-python" href="https://www.hackerrank.com/jgarza9788"> Python Certification  - HackerRank.com</a> </li>
        <li> <a class="mdi mdi-language-java" href="https://www.hackerrank.com/jgarza9788"> Java Certification - HackerRank.com</a> </li>
        <li> <a class="mdi mdi-database" href="https://www.hackerrank.com/jgarza9788"> SQL Certification - HackerRank.com</a> </li>
        <li> <a class="mdi mdi-language-csharp" href="https://www.hackerrank.com/jgarza9788"> C# Certification - HackerRank.com</a> </li>
      </ul>
    </div>
  </div>


  <div class="card bgh z-depth-3">
    <div class="card-content white-text">
      <span class="card-title"> <i class="mdi mdi-star"></i> Skills:</span>
      <div class="chip like-a bgc" > Python </div>
      <div class="chip like-a bgc" > Java </div>
      <div class="chip like-a bgc" > SQL </div>
      <div class="chip like-a bgc" > C#  </div>
      <div class="chip like-a bgc" > Matplotlib </div>
      <div class="chip like-a bgc" > Seaborn </div>
      <div class="chip like-a bgc" > Altair </div>
      <div class="chip like-a bgc" > plottly </div>
      <div class="chip like-a bgc" > Selenium </div>
      <div class="chip like-a bgc" > Selenium-Wire </div>
      <div class="chip like-a bgc" > Requests </div>
      <div class="chip like-a bgc" > BeautifulSoup4 </div>
      <div class="chip like-a bgc" > Pandas </div>
      <div class="chip like-a bgc" > NumPy </div>
      <div class="chip like-a bgc" > OpenPyXl </div>
      <div class="chip like-a bgc" > Pytorch </div>
      <div class="chip like-a bgc" > SciKit </div>
      <div class="chip like-a bgc" > Pickle </div>
      <div class="chip like-a bgc" > VBS/VBA </div>
      <div class="chip like-a bgc" > Flask </div>
      <div class="chip like-a bgc" > Django </div>
      <div class="chip like-a bgc" > Streamlit  </div>
      <div class="chip like-a bgc" > VS Code </div>
      <div class="chip like-a bgc" > Atom </div>
      <div class="chip like-a bgc" > Sublime Text 3 </div>
      <div class="chip like-a bgc" > Jupyter Notebook </div>
      <div class="chip like-a bgc" > Jupyter Lab </div>
      <div class="chip like-a bgc" > PyCharm </div>
      <div class="chip like-a bgc" > Visual Studio  </div>
      <div class="chip like-a bgc" > Git </div>
      <div class="chip like-a bgc" > BitBucket </div>
      <div class="chip like-a bgc" > SourceTree </div>
      <div class="chip like-a bgc" > Jira </div>
      <div class="chip like-a bgc" > Jenkins </div>
      <div class="chip like-a bgc" > XLR </div>
      <div class="chip like-a bgc" > SonarQube  </div>
      <div class="chip like-a bgc" > HDFS </div>
      <div class="chip like-a bgc" > Hive </div>
      <div class="chip like-a bgc" > Postgres </div>
      <div class="chip like-a bgc" > MongoDB </div>
      <div class="chip like-a bgc" > RDBMS </div>
      <div class="chip like-a bgc" > Oracle SQL  </div>
      <div class="chip like-a bgc" > HTML </div>
      <div class="chip like-a bgc" > CSS </div>
      <div class="chip like-a bgc" > JavaScript </div>
      <div class="chip like-a bgc" > XML </div>
      <div class="chip like-a bgc" > JSON </div>
      <div class="chip like-a bgc" > RESTful Web Service </div>
      <div class="chip like-a bgc" > APIs  </div>
      <div class="chip like-a bgc" > Windows </div>
      <div class="chip like-a bgc" > MAC OS </div>
      <div class="chip like-a bgc" > Unix/Linux.  </div>

    </div>
  </div>


  <div class="card bgh z-depth-3">
    <div class="card-content white-text">
      <span class="card-title"> <i class="mdi mdi-briefcase"></i>  Professional Experience:</span>


  <h5> Bank of America - Global Treasury Monitoring Solution </h5> 
  <h6> March 2022 – Present </h6> 
  <h6> VP Software Engineer II </h6> 
  <li> Diagnosed T-SQL Store Procedures and produced plans to optimize the code to reduce runtimes.</li>
  <li> Upgraded T-SQL Store Procedures while documenting code changes. </li>
  <li> Tested T-SQL Store Procedures modifications and recorded results and changes that could impact downstream production.</li>
  <li> Discovered ~100 Bugs within our main code repository by leveraging Python and SonarQube. </li>
  <li> Empowered Teammates by creating coding standards and how-to documents for Bitbucket repositories, commenting code, and creating and running unit tests.</li>
  <li> Collaborated with SonarQube owners to take full advantage of its features to enhance code quality.</li>
  <li> Communicated with the software testing team in order to automate some of the manual tests.</li>

    <h6> Environment: </h6> 
    <div class="chip like-a bgc"> Python </div>
    <div class="chip like-a bgc"> Selenium </div>
    <div class="chip like-a bgc"> Requests </div>
    <div class="chip like-a bgc"> BeautifulSoap4 </div>
    <div class="chip like-a bgc"> Pandas </div>
    <div class="chip like-a bgc"> Streamlit </div>
    <div class="chip like-a bgc"> PyCharm </div>
    <div class="chip like-a bgc"> Jupyter Notebook </div>
    <div class="chip like-a bgc"> Sublime Text 3 </div>
    <div class="chip like-a bgc"> Git </div>
    <div class="chip like-a bgc"> Bitbucket </div>
    <div class="chip like-a bgc"> Jira </div>
    <div class="chip like-a bgc"> Jenkins </div>
    <div class="chip like-a bgc"> XLR </div>
    <div class="chip like-a bgc"> SonarQube </div>
    <div class="chip like-a bgc"> HTML </div>
    <div class="chip like-a bgc"> CSS </div>
    <div class="chip like-a bgc"> C# </div>
    <div class="chip like-a bgc"> Visual Studio </div>
    <div class="chip like-a bgc"> T-SQL </div>
    <div class="chip like-a bgc"> SSMS </div>
    <div class="chip like-a bgc"> Toad </div>
    <div class="chip like-a bgc"> RDBMS </div>
    <div class="chip like-a bgc"> SQL </div>
    <div class="chip like-a bgc"> Windows </div>
    <div class="chip like-a bgc"> Shell Scripting </div>

  <hr>

  <h5> Bank of America – Enterprise Independent Testing </h5>
  <h6> Sept 2019 – March 2022 </h6> 
  <h6> VP Test Tools & Analytics Specialist II </h6> 
  <li> Authored a variety of design documents in order to facilitate the migration from an SSIS based system to a web-based ETL system. </li>
  <li> Resolved critical Issues with our ETL processes. </li>
  <li> Developed scripts (Python/SQL) to validate our ETL process, and produced several reports. </li>
  <li> Trained and guided on various Python libraries and best practices. </li>
  <li> Collaborated with our technology and compliance teams in order to automate much of our manual work. </li>
  <h6> Environment: </h6> 
  <div class="chip like-a bgc"> Python</div>
  <div class="chip like-a bgc"> Matplotlib</div>
  <div class="chip like-a bgc"> Seaborn</div>
  <div class="chip like-a bgc"> Selenium</div>
  <div class="chip like-a bgc"> Requests</div>
  <div class="chip like-a bgc"> BeautifulSoap4</div>
  <div class="chip like-a bgc"> Pandas</div>
  <div class="chip like-a bgc"> NumPy</div>
  <div class="chip like-a bgc"> OpenPyXL</div>
  <div class="chip like-a bgc"> PyTorch</div>
  <div class="chip like-a bgc"> SciKit</div>
  <div class="chip like-a bgc"> Pickle</div>
  <div class="chip like-a bgc"> VBS/VBA</div>
  <div class="chip like-a bgc"> PyCharm</div>
  <div class="chip like-a bgc"> Jupyter Notebook</div>
  <div class="chip like-a bgc"> Sublime Text 3</div>
  <div class="chip like-a bgc"> VS Code</div>
  <div class="chip like-a bgc"> Git</div>
  <div class="chip like-a bgc"> Bitbucket</div>
  <div class="chip like-a bgc"> Jira</div>
  <div class="chip like-a bgc"> HTML</div>
  <div class="chip like-a bgc"> CSS</div>
  <div class="chip like-a bgc"> RESTful Web Services</div>
  <div class="chip like-a bgc"> APIs</div>
  <div class="chip like-a bgc"> C#</div>
  <div class="chip like-a bgc"> Visual Studio</div>
  <div class="chip like-a bgc"> T-SQL</div>
  <div class="chip like-a bgc"> SSMS</div>
  <div class="chip like-a bgc"> Toad</div>
  <div class="chip like-a bgc"> HDFS</div>
  <div class="chip like-a bgc"> Hive</div>
  <div class="chip like-a bgc"> Postgres</div>
  <div class="chip like-a bgc"> MongoDB</div>
  <div class="chip like-a bgc"> RDBMS</div>
  <div class="chip like-a bgc"> Oracle</div>
  <div class="chip like-a bgc"> SQL</div>
  <div class="chip like-a bgc"> Windows</div>
  <div class="chip like-a bgc"> UNIX</div>
  <div class="chip like-a bgc"> Shell Scripting </div>

  <hr>

  <h5> Bank of America – Compliance Testing Analytics </h5> 
  <h6> Sept 2012 – Sept 2019 </h6>
  <h6> AVP Analytics Specialist </h6>
  <li> Maintained, and serviced, a repository of 600 SSIS packages using Team Foundation Server and SSIS. </li>
  <li> Analyze SSIS package in order to answer key business questions or troubleshoot data issues and execute solutions. </li>
  <li> Designed simple and complex SSIS packages, that use T-SQL, Visual Basic, and C#, in order to clean and stage data for use in a production environment. </li>
  <li> Performed quality assurance checks on new scripts before adding them to the repository. </li>
  <li> Built an application to aid in finding SQL scripts based on the database objects used within them. </li>
  <li> Responsible for collecting, processing, and uploading data from various sources to be used in compliance testing. </li>
  <li> Customized the data tier of a 3-tier web-based application, using SQL.  </li>
  <li> Composed stored procedures to detect issues within our testing platform. </li>
  <li> Collaborated with Sample Developers in order to rewrite SQL scripts for use in our automation environment. </li>
  <li> Spearheaded meetings with Test Designers and Compliance Officers to verify compliance test code. </li>
  <li> Conducted training for coworkers and peers on frameworks, APIs, testing system(s), and more. </li>
  <li> Provided my expertise in SQL, SSIS, JavaScript, Python, VBS, HTML, and XML to teammates and other programmers.  </li>
  <h6> Environment: </h6> 
  <div class="chip like-a bgc"> Python</div>
  <div class="chip like-a bgc"> Matplotlib</div>
  <div class="chip like-a bgc"> Pandas</div>
  <div class="chip like-a bgc"> NumPy</div>
  <div class="chip like-a bgc"> OpenPyXL</div>
  <div class="chip like-a bgc"> VBS/VBA</div>
  <div class="chip like-a bgc"> PyCharm</div>
  <div class="chip like-a bgc"> TFS</div>
  <div class="chip like-a bgc"> SharePoint</div>
  <div class="chip like-a bgc"> C#</div>
  <div class="chip like-a bgc"> Visual Studio</div>
  <div class="chip like-a bgc"> T-SQL</div>
  <div class="chip like-a bgc"> SSMS</div>
  <div class="chip like-a bgc"> Toad</div>
  <div class="chip like-a bgc"> RDBMS</div>
  <div class="chip like-a bgc"> Oracle</div>
  <div class="chip like-a bgc"> SQL</div>
  <div class="chip like-a bgc"> Windows</div>
  <div class="chip like-a bgc"> Shell Scripting </div>

  <hr>
  
  <h5> Bank of America – Imaging and File Retention </h5>
  <h6> Oct 2011 – Sept 2012 </h6>
  <h6> Business Support Lead I </h6>
  <li> Generated daily, weekly, and monthly analytical reports and distributed them across several teams across the entire line of business. </li>
  <li> Enhanced CRM database using reporting and data analysis. </li>
  <li> Designed, created, and maintained multiple databases in access (2007-2010) in order to facilitate production. </li>
  <li> Wrote SQL queries using Microsoft SQL Server Management Studio v9 in order to provide the needed populations to various departments. </li>
  <li> Produced spreadsheet templates in Microsoft Excel (2003-2010) for multiple lines of business within multiple departments. </li>
  <li> Designed Visual Basic scripts in order to achieve large amounts of research and further programming within my line of business. </li>
  <h6> Environment: </h6> 
  <div class="chip like-a bgc"> Visual Studio</div>
  <div class="chip like-a bgc"> T-SQL</div>
  <div class="chip like-a bgc"> SSMS</div>
  <div class="chip like-a bgc"> Toad</div>
  <div class="chip like-a bgc"> RDBMS</div>
  <div class="chip like-a bgc"> Oracle</div>
  <div class="chip like-a bgc"> SQL</div>
  <div class="chip like-a bgc"> Windows</div>
  <div class="chip like-a bgc"> SharePoint</div>
  <div class="chip like-a bgc"> Excel VBA/VBS</div>
  <div class="chip like-a bgc"> Shell Scripting</div>
  
    <hr>

  <h5> Bank of America – Imaging and File Retention </h5>
  <h6> Sept 2009 – Oct 2011 </h6>
  <h6> Records Manager </h6>
  <li> Responsible for researching and requesting original collateral documents for internal and external customers. </li>
  <li> Collaborated and maintained lines of communication with lawyers and document custodians via fax, email, phone and conference calls. </li>
  <li> Collaborated with colleagues to plan and implement the conversion of the firm’s files into a database. </li>
  <h6> Environment: </h6> 
  <div class="chip like-a bgc"> T-SQL</div>
  <div class="chip like-a bgc"> SSMS</div>
  <div class="chip like-a bgc"> RDBMS</div>
  <div class="chip like-a bgc"> Oracle</div>
  <div class="chip like-a bgc"> SQL</div>
  <div class="chip like-a bgc"> Windows</div>
  <div class="chip like-a bgc"> SharePoint</div>
  <div class="chip like-a bgc"> Excel VBA/VBS</div>
  <div class="chip like-a bgc"> Shell Scripting </div>

    </div>
  </div>
  
</div>

<hr>

{% include "footer.html" %}