<!DOCTYPE html>
<html lang="en">
<head>
  <title>Garza, Justin</title>

  <link rel="stylesheet" href="static/mystyle.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  <table>
    <td>
      <img src="static/memoji.png" alt="" id="profilepicture" width="125px">
    </td>
    <td>
      <p>VP, Software Engineer II,  Bank of America</p>
      <p>And Big Computer/Tech Nerd</p>
    </td>
  </table>
  <hr></hr>
  <h2>Contact Me:</h2>
  <p><span class="mdi mdi-email"></span> Email: <a href = "mailto: jgarza9788@gmail.com">jgarza9788@gmail.com</a></p>
  <p><span class="mdi mdi-phone"></span> Phone: <a href = "tel:+: 18182510647">1 (818) 251-0647</a></p>
  <p><span class="mdi mdi-github"></span> GitHub: <a href = "https://github.com/jgarza9788">jgarza9788</a></p>
  <hr></hr>
  <h2> <span class="mdi mdi-format-list-bulleted"></span> Summary: </h2> 
<p> 6 Years of experience in Python Development and Data Analysis, System Design, Testing, Bug Fixes, Enhancement, Support, and Integration of APIs to generate reports and automate tasks.</p>
<p> Experience working with command line utilities/environments. </p>
<p> Experience with Unit Testing / Test Driven Development (TDD), Load Testing and Integration Testing.</p>
<p> Experience building frameworks and automating complex workflows using Python for Test Automation</p>
<p> Experience working with data from HDFS, Hive, Postgres, MongoDB, Oracle and SQL servers.</p>
<p> Experience with SQL Server Management Studio, Teradata SQL Assistant, and Toad.</p>
<p> Experienced in version control systems using Git, GitHub, GitLab, GitKraken, SourceTree and Bitbucket.</p>
<p> Experience working deployment tools using Jenkins and vercel.</p>
<p> Experience working with issue tracking tools like Jira and SonarQube.</p>
<p> Ability to handle multiple tasks, Initiative and Adaptable. Self-motivated, organized team player with strong problem solving and analytical skills and total commitment to the organization goals. </p>
<p> Developed REST API’s using serverless framework, AWS Lambda, API Gateway</p>
<p> Experienced with full software development life cycle (SDLC), object-oriented programming (OOPS), and database design.</p>
<p> Hands on experience using Python 2.x and 3.x version.</p>
<p> Experienced in developing web-based applications using Python, Django, Streamlit, JSON, XML, CSS3, HTML5, JavaScript and jQuery.</p>
<p> Experience working with Python charts and graph libraries like Matplotlib, Seaborn, Altair.</p>
<p> Experience working with Python APIs, RESTful Web Service, and web-automation libraries like Selenium, requests, and beautifulsoap4.</p>
<p> Experience working with Python data-analytics libraries like Pandas, NumPy, and OpenPyXl.</p>
<p> Experience working with Python machine-learning libraries like Pytorch, SciKit, and Pickle.</p>

<h2> <span class="mdi mdi-school"></span> Education: </h2> 
<p> Bachelors in Computer Information Systems DeVry University (2014)</p>

<h2> <span class="mdi mdi-certificate"></span> Certifications: </h2> 
<p> Python (top 5%) <a href="https://www.linkedin.com/in/justin-garza-9a684a44/">LinkedIn.com</a></p>
<p> Excel (top 5%) <a href="https://www.linkedin.com/in/justin-garza-9a684a44/">LinkedIn.com</a></p>
<p> Python Certification <a href="https://www.hackerrank.com/jgarza9788">HackerRank.com</a> </p>
<p> Java Certification <a href="https://www.hackerrank.com/jgarza9788">HackerRank.com</a> </p>
<p> SQL Certification <a href="https://www.hackerrank.com/jgarza9788">HackerRank.com</a> </p>
<p> C# Certification <a href="https://www.hackerrank.com/jgarza9788">HackerRank.com</a> </p>

<h2> <span class="mdi mdi-star"></span>  Skills: </h2> 
<p> Python, Java, SQL, and C# </p>
<p> Matplotlib, Seaborn, Altair, Selenium, Selenium-Wire, Requests, BeautifulSoup4, Pandas, NumPy, OpenPyXl, Pytorch, SciKit, Pickle, VBS/VBA,  </p>
<p> Django, Streamlit </p>
<p> VS Code, Atom, Sublime Text 3, Jupyter Notebook, PyCharm, Visual Studio </p>
<p> Git, BitBucket, SourceTree, Jira, Jenkins, XLR, SonarQube </p>
<p> HDFS, Hive, Postgres, MongoDB, RDBMS, Oracle and SQL </p>
<p> HTML, CSS, JavaScript, XML, JSON, RESTful Web Service, APIs </p>
<p> Windows, MAC OS, Unix/Linux. </p>
 

<h2> <span class="mdi mdi-briefcase"></span> Professional Experience: </h2>
<h3> Bank of America - Global Treasury Monitoring Solution </h3> 
<h4> March 2022 – Present </h4> 
<h4> VP Software Engineer II </h4> 
<p> Diagnosed T-SQL Store Procedures and produced plans to optimize the code to reduce runtimes.</p>
<p> Upgraded T-SQL Store Procedures while documenting code changes. </p>
<p> Tested T-SQL Store Procedures modifications and recorded results and changes that could impact downstream production.</p>
<p> Discovered ~100 Bugs within our main code repository by leveraging Python and SonarQube. </p>
<p> Empowered Teammates by creating coding standards and how-to documents for Bitbucket repositories, commenting code, and creating and running unit tests.</p>
<p> Collaborated with SonarQube owners to take full advantage of its features to enhance code quality.</p>
<p> Communicated with the software testing team in order to automate some of the manual tests.</p>
<h4> Environment: </h4> 
<p> Python, Selenium, Requests, BeautifulSoap4, Pandas, Streamlit, PyCharm, Jupyter Notebook, Sublime Text 3, Git, Bitbucket, Jira, Jenkins, XLR, SonarQube, HTML, CSS, C#, Visual Studio, T-SQL, SSMS, Toad, RDBMS, SQL, Windows, Shell Scripting </p>

<h3> Bank of America – Enterprise Independent Testing </h3>
<h4> Sept 2019 – March 2022 </h4> 
<h4> VP Test Tools & Analytics Specialist II </h4> 
<p> Authored a variety of design documents in order to facilitate the migration from an SSIS based system to a web-based ETL system. </p>
<p> Resolved critical Issues with our ETL processes. </p>
<p> Developed scripts (Python/SQL) to validate our ETL process, and produced several reports. </p>
<p> Trained and guided on various Python libraries and best practices. </p>
<p> Collaborated with our technology and compliance teams in order to automate much of our manual work. </p>
<h4> Environment: </h4> 
<p> Python, Matplotlib, Seaborn, Selenium, Requests, BeautifulSoap4, Pandas, NumPy, OpenPyXL, PyTorch, SciKit, Pickle, VBS/VBA, PyCharm, Jupyter Notebook, Sublime Text 3, VS Code, Git, Bitbucket, Jira, HTML, CSS, RESTful Web Services, APIs, C#, Visual Studio, T-SQL, SSMS, Toad, HDFS, Hive, Postgres, MongoDB, RDBMS, Oracle, SQL, Windows, UNIX, Shell Scripting </p>

<h3> Bank of America – Compliance Testing Analytics </h3> 
<h4> Sept 2012 – Sept 2019 </h4>
<h4> AVP Analytics Specialist </h4>
<p> Maintained, and serviced, a repository of 600 SSIS packages using Team Foundation Server and SSIS. </p>
<p> Analyze SSIS package in order to answer key business questions or troubleshoot data issues and execute solutions. </p>
<p> Designed simple and complex SSIS packages, that use T-SQL, Visual Basic, and C#, in order to clean and stage data for use in a production environment. </p>
<p> Performed quality assurance checks on new scripts before adding them to the repository. </p>
<p> Built an application to aid in finding SQL scripts based on the database objects used within them. </p>
<p> Responsible for collecting, processing, and uploading data from various sources to be used in compliance testing. </p>
<p> Customized the data tier of a 3-tier web-based application, using SQL.  </p>
<p> Composed stored procedures to detect issues within our testing platform. </p>
<p> Collaborated with Sample Developers in order to rewrite SQL scripts for use in our automation environment. </p>
<p> Spearheaded meetings with Test Designers and Compliance Officers to verify compliance test code. </p>
<p> Conducted training for coworkers and peers on frameworks, APIs, testing system(s), and more. </p>
<p> Provided my expertise in SQL, SSIS, JavaScript, Python, VBS, HTML, and XML to teammates and other programmers.  </p>
<h4> Environment: </h4> 
<p> Python, Matplotlib, Pandas, NumPy, OpenPyXL, VBS/VBA, PyCharm, TFS, SharePoint, C#, Visual Studio, T-SQL, SSMS, Toad, RDBMS, Oracle, SQL, Windows, Shell Scripting </p>


<h3> Bank of America – Imaging and File Retention </h3>
<h4> Oct 2011 – Sept 2012 </h4>
<h4> Business Support Lead I </h4>
<p> Generated daily, weekly, and monthly analytical reports and distributed them across several teams across the entire line of business. </p>
<p> Enhanced CRM database using reporting and data analysis. </p>
<p> Designed, created, and maintained multiple databases in access (2007-2010) in order to facilitate production. </p>
<p> Wrote SQL queries using Microsoft SQL Server Management Studio v9 in order to provide the needed populations to various departments. </p>
<p> Produced spreadsheet templates in Microsoft Excel (2003-2010) for multiple lines of business within multiple departments. </p>
<p> Designed Visual Basic scripts in order to achieve large amounts of research and further programming within my line of business. </p>
<h4> Environment: </h4> 
<p> Visual Studio, T-SQL, SSMS, Toad, RDBMS, Oracle, SQL, Windows, SharePoint, Excel VBA/VBS, Shell Scripting

<h3> Bank of America – Imaging and File Retention </h3>
<h4> Sept 2009 – Oct 2011 </h4>
<h4> Records Manager </h4>
<p> Responsible for researching and requesting original collateral documents for internal and external customers. </p>
<p> Collaborated and maintained lines of communication with lawyers and document custodians via fax, email, phone and conference calls. </p>
<p> Collaborated with colleagues to plan and implement the conversion of the firm’s files into a database. </p>
<h4> Environment: </h4> 
<p> T-SQL, SSMS, RDBMS, Oracle, SQL, Windows, SharePoint, Excel VBA/VBS, Shell Scripting </p>
  

</body>
</html>