
:root{
    --black: #000000;
    --bg: #1f1f1f;
    --bg_h: #303030;
    --bg_c: #202020;
    --fg: #f8f8f2;
    --yw: #e6db74;
    --og: #fd971f;
    --rd: #f92672;
    --mg: #fd5ff0;
    --vt: #ae81ff;
    --bl: #66d9ef;
    --cy: #a1efe4;
    --gn: #a6e22e;
}

body{
    /* display: flex;
    flex-direction: column;
    height: 100hv;
    margin: 0;
    overflow: hidden; */
    
    background-color: #888888;
}

h1, h2, h3, h4, h5, h6, p, a
{
    font-family: 'Roboto' !important;
}

.main-grid-container {
    display: grid;

    padding: 0.5rem;
    grid-gap: 0.5rem;

    grid-template-columns: minmax(3rem, 20rem) minmax( 20rem  ,1fr);
    grid-template-rows: calc(100vh - 1.5rem - 3rem) 3rem;
    /* 5rem; */
    width: 100%;
    height: 100%;

    
    /* background-color: #2196F3; */
    

    grid-template-areas:
        'sidebar-top content'
        'sidebar-bottom content';

    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.main-grid-item{
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

    width: 100%;
    height: 100%;
}

.hw{
    background-color: #fd5ff0;
}

.sidebar-grid{
    /* display: grid;
    grid-template-rows: repeat(auto);
    grid-row-start: auto;
    grid-gap: 1rem; */

    padding: 0;
}

.sbt{
    grid-area: sidebar-top;
}

.sbb{
    grid-area: sidebar-bottom;
}

.sidebar-item{
    width: 100%;
    height: 3rem !important;
    /* height: 2.5rem; */
    /* height: 3rem; */
    margin: 0rem 0rem 1rem 0rem ;
    /* margin: 1rem; */
}

.sidebar-btn{
    display: grid;
    grid-template-columns: minmax(3rem,3rem) minmax(0rem,3rem) minmax(0,1fr) minmax(0rem,3rem) minmax(0,3rem);
    grid-gap: 0;

    padding: 0;
    overflow: hidden;
    text-overflow: clip;

    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

span,span::before{
    /* padding: 0.5rem 0.5rem; */
    /* padding: auto auto !important; */
    padding: 0px 0px 2px 0px;
    margin: 0;
    font-size: 1.51rem;
    line-height: 100%;

    vertical-align: middle;
    justify-content: center;
    align-items: center;

    /* height: 3rem; */
    /* line-height: 3rem; */
}


/* span{
    text-align: center;
} */


@media screen and (max-width: 900px) {

    .main-grid-container{
        grid-template-columns: minmax(3rem, 3rem) minmax( 20rem  ,1fr);
    }
    /* .sidebar-lg {
        width: 280px !important;
    }
    .sidebar-md {
        display: none !important;
        width: 0px !important;
        opacity: 0 !important;
    }
    .content{
      margin-left: 280px
    } */
}

